%primary-gradient {
  @apply bg-gradient-to-b from-blue-400 to-blue-800;
}

.btn {
  @apply text-base lg:text-lg rounded-xl font-normal;
  &-primary {
    @apply px-4 lg:px-8 py-2;
  }

  &-outline {
    @apply px-4 py-[6.5px] lg:ml-4 border-[1.5px] border-primary dark:border-light text-primary dark:text-light dark:bg-midnight-900 hover:bg-blue-50 dark:hover:bg-midnight-500;
  }

  &-wallet {
    @apply flex justify-start items-center gap-2 px-4 bg-blue-50 dark:bg-midnight-500 dark:text-light;
  }

  &-primary-gradient {
    @extend %primary-gradient;
    @apply text-light hover:bg-gradient-to-r;
  }
}

.btn-menu {
  color: $primary;

  &:not(.active) {
    .fs-nav-close {
      display: none;
    }
  }

  &.active {
    .fs-nav-open {
      display: none;
    }
  }
}

.dropdown {
  @apply relative;

  &__menu {
    @apply absolute z-[1010] top-[50px] right-0 bg-blue-50 dark:bg-midnight-600 rounded-lg shadow;

    > ul {
      @apply py-2 text-base;
    }
  }

  &__item {
    &.active {
      @apply bg-blue-100 dark:bg-midnight-800 hover:bg-blue-200 dark:hover:bg-midnight-500;
    }

    @apply flex justify-start items-center px-4 py-2 hover:bg-blue-200 dark:hover:bg-midnight-500 cursor-pointer;
  }
}

.modal {
  @apply flex items-center overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[1200] w-full h-full;

  &__dialog {
    @apply relative p-4 m-auto w-full max-w-md h-auto;
  }

  &__content {
    @apply relative bg-white dark:bg-midnight-800 rounded-lg shadow;
  }

  &__header {
    @apply flex justify-between items-center p-4 rounded-t dark:border-gray-600;
  }

  &__body {
    @apply flex flex-col gap-4 p-4;
  }
}

svg.spinner {
  @apply w-8 h-8 animate-spin text-gray-200 dark:text-midnight-600 fill-primary dark:fill-light;
}

.navbar {
  &__item {
    @apply text-gray-500 text-lg lg:mr-8 font-normal;

    a {
      @apply block pb-8 lg:p-0;
    }

    &.active {
      @apply text-gray-900 dark:text-light font-medium;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    &__nav {
      @apply bg-light dark:bg-dark w-full fixed left-0 px-4 pt-11;
      top: calc(55.5px);
      height: calc(100% - 55.5px);
    }

    &__buttons {
      @apply w-full flex-row justify-between pb-3;
    }

    .navbar {
      @apply w-full flex-col;
    }
  }

  .menu-opened {
    .header {
      &__nav {
        @apply flex flex-col justify-between;
      }
    }
  }
}

.section {
  @apply mb-24;

  &__title {
    @apply text-xl lg:text-5xl font-semibold lg:text-center;
  }

  @media (max-width: 639px) {
    @apply mb-16;
  }
}

.hero {
  @apply pt-16 pb-32;

  @media (max-width: 767px) {
    @apply pb-0 pt-[30px];

    img {
      @apply max-w-[75%] m-auto;
    }
  }
}

.wave {
  @apply h-[320px];

  &__list {
    @apply flex justify-around;
  }

  &__item {
    a {
      @apply flex flex-col justify-center items-center text-center;

      strong {
        @apply text-lg font-semibold mt-[-30px];
      }

      img {
        @apply mx-auto;
      }
    }

    &--symbol {
      @apply flex justify-center items-center;
    }

    &:nth-child(1) {
      transform: translate(-70px, -50px);
    }
    &:nth-child(2) {
      transform: translate(-80px, 60px);
    }
    &:nth-child(3) {
      transform: translate(-70px, 130px);
    }
    &:nth-child(4) {
      transform: translate(-50px, 80px);
    }
    &:nth-child(5) {
      transform: translate(10px, 90px);
    }
    &:nth-child(6) {
      transform: translateY(-60px);
    }
  }
}

.partner {
  &__list {
    @apply grid grid-cols-2 lg:grid-cols-5 gap-6 lg:gap-12 mx-auto;
  }

  &__item {
    @apply flex items-center justify-center;

    &-inner {
      @apply flex items-center justify-center;
    }

    img {
      width: 12.5rem;
    }
  }
}

.community {
  &__list {
    @apply grid grid-cols-1 lg:grid-cols-3 justify-center max-w-[935px] mx-auto gap-x-[48px] gap-y-4 lg:gap-y-[30px];
  }

  &__item {
    &-link {
      @apply grid bg-white dark:bg-transparent rounded-[10px];
      align-items: center;
      grid-template-columns: 40px 1fr;
      gap: 1px 15px;
      padding: 10px 15px;
      border: 1px solid rgb(130, 150, 246);

      h3 {
        @apply font-medium lg:text-lg;
      }

      span {
        @apply text-sm lg:text-base;
      }

      figure {
        grid-row: 1 / span 2;
        text-align: center;

        img {
          margin: auto;
        }
      }
    }
  }

  @media (max-width: 575px) {
    &__item {
      &-link {
        height: 100%;
      }
    }
  }
}

.subscription {
  @apply mb-0;

  &__form {
    @apply flex items-center justify-center lg:bg-gradient-to-b lg:from-white to-[#D2E8FF] dark:lg:bg-gradient-to-t dark:lg:from-[#0E1648] dark:lg:to-transparent;
    padding: 0 50px 50px 50px;
    min-height: 318px;
    border-radius: 10px;

    &-inner {
      width: 755px;
      max-width: 100%;
    }
  }

  .form-group {
    @apply relative;
    margin: 25px auto 0;

    input {
      @apply w-full h-[78px] leading-[78px] text-primary text-base lg:text-lg font-normal pl-4 pr-[150px] lg:pr-[188px] py-4 lg:py-5 rounded-xl dark:bg-transparent;
      border: 1px solid #8296f6;

      &::placeholder {
        @apply text-primary dark:text-light text-base lg:text-lg font-normal;
      }
    }

    .btn {
      @apply absolute top-[17px] right-[17px] text-lg font-medium uppercase;
    }
  }

  @media (max-width: 767px) {
    .container {
      @apply bg-gradient-to-b from-white to-[#D2E8FF] dark:bg-gradient-to-t dark:from-[#0E1648] dark:to-transparent;
    }

    &__form {
      padding: 0;
      min-height: 200px;

      input {
        padding-left: 15px;
      }

      .btn {
        min-width: 100px;
      }
    }
  }
}

.feature {
  .swiper-wrapper {
    .swiper-slide {
      @apply min-h-[390px] flex flex-col items-center text-center rounded-[10px] border-[1.5px] border-gray-300 px-4 pt-2 pb-12;

      figure {
        @apply mb-2;

        svg path {
          @apply fill-primary dark:fill-light;
        }
      }

      h3 {
        @apply text-xl font-semibold mb-2;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
  }

  &__detail {
    @apply h-[300px];

    &__item {
      @apply absolute inset-0 transition-all ease-in-out duration-1000 transform;

      h3 {
        @apply text-2xl font-semibold mb-[20px];
      }

      p {
        @apply leading-[2] text-left;
      }
    }
  }

  &__item {
    @apply p-4 flex items-center justify-center border-[1.5px] border-solid border-primary text-center text-lg dark:text-primary rounded-[10px] min-h-[155px];

    img {
      margin: 0 auto 10px;
    }

    svg {
      @apply max-h-[76px] mb-4 m-auto;
    }

    svg path {
      @apply dark:fill-primary;
    }

    &:nth-child(2) {
      grid-column: 2 / span 1;
    }

    &:nth-child(2),
    &:nth-child(4) {
      transform: translateY(50%);
    }

    &.active {
      @apply dark:text-light border-[1.5px] border-solid border-primary bg-gradient-to-b from-white to-[#D2E8FF] dark:bg-gradient-to-b dark:from-blue-400 dark:to-blue-700;

      svg path {
        @apply fill-primary dark:fill-light;
      }
    }
  }

  &__item:hover {
    @apply dark:text-light;

    svg path {
      @apply fill-primary dark:fill-light;
    }
  }
}

.steps {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 12px;
    background: rgb(130, 150, 246);
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 12px;
    border-color: transparent transparent transparent rgb(130, 150, 246);
    position: absolute;
    right: 0;
    top: 5px;
  }

  @media (max-width: 767px) {
    &:before {
      height: 100%;
      width: 1px;
      top: 0;
      left: 12px;
    }

    &:after {
      border-width: 12px 7.5px 0 7.5px;
      border-color: rgb(130, 150, 246) transparent transparent transparent;
      left: 5px;
      bottom: 0;
      top: auto;
    }
  }
}

.step {
  @apply relative pt-[60px];

  h3 {
    @apply text-lg font-medium mb-4;
  }

  &:before {
    content: '';
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(
      45deg,
      rgb(193, 155, 229) 0%,
      rgb(119, 148, 255) 50%,
      rgb(252, 231, 158) 100%
    );
  }

  ul {
    @apply pl-5 list-disc;
  }

  li {
    + li {
      @apply mt-2;
    }
  }

  @media (max-width: 767px) {
    padding-left: 50px;
    padding-top: 0;
  }
}

.footer {
  &__navbar {
    li {
      @apply text-sm;
    }
  }

  &__social {
    li {
      + li {
        margin-left: 1rem;
      }

      a {
        @apply lg:flex lg:items-center lg:justify-center w-8 h-8;

        svg path {
          @apply fill-gray-700 dark:fill-light;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    &__navbar {
      li {
        + li {
          @apply ml-0;
        }
      }
    }
  }
}

// Profile
.network__selector {
  ul {
    li {
      svg {
        @apply mr-2 w-6 h-6;
      }
    }
  }
}

.theme__toggle {
  svg {
    @apply absolute z-[1012] top-1.5 w-5;
  }

  svg:first-child {
    @apply left-1;
    path {
      @apply stroke-gray-900;
    }
  }

  svg:last-child {
    @apply right-1;
    path {
      @apply stroke-light;
    }
  }

  .peer:checked ~ .toggle_theme_button {
    svg:first-child {
      path {
        @apply stroke-light;
      }
    }

    svg:last-child {
      path {
        @apply stroke-gray-900;
      }
    }
  }
}

.more__box {
  ul > ul {
    @apply block lg:hidden;
    justify-content: space-between;

    li {
      @apply px-4 py-2 text-base text-gray-900 dark:text-light hover:bg-blue-200 dark:hover:bg-midnight-500;

      a {
        @apply pb-0 font-normal;
      }
    }
  }
}

.modal__wallet {
  &__item {
    @apply px-4 py-2 border-[1.5px] border-blue-100 dark:border-midnight-600 bg-blue-50 dark:bg-midnight-800 rounded-lg flex justify-between items-center cursor-pointer;

    > span {
      @apply text-gray-700 dark:text-light;
    }

    > svg {
      @apply w-8 h-8;
    }
  }

  &__item.connect__error {
    @apply border-red-500;

    > span {
      @apply text-red-500;
    }

    > button {
      @apply px-3 py-2 text-xs bg-blue-100 dark:bg-midnight-400 rounded-md;
    }
  }
}

.walletconnect-qrcode__base {
  padding-top: 50px !important;
}

.walletconnect-modal__base {
  max-width: 350px !important;
}