@tailwind base;
@tailwind components;
@tailwind utilities;

// https://gist.github.com/pandauxstudio/d91860cbdfc2d12526ce04f8c4eb829b
@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
