$font-base: 'Poppins';
$blue: #395ce0;
$gray: '#21232d';
$gray-light: '#626674';

@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
